01-raw-transformers/ignore/
01-raw-llm/ignore/

02-transformers-explanation/ignore/

03-sentiment-analysis/ignore/
03-sentiment-analysis/models/

04-lang-gpt/ignore/
04-lang-gpt/vosk_models
04-lang-gpt/lang-gpt-example.ipynb
04-lang-gpt/output.mp3